
.main-container{
    display: flex;
    max-width: 100vw;
    height: 100vh;

 

}
.sub-container{
    width: 73%;
    height: 100vh;
 
}
.navhead{
    width:100%;
    height: 35px;
    background-color: lightpink;
    display: flex;
    justify-content: space-between;
}
.navhead-link{
    width: 33%;
    height: 100%;
    background-color: rgb(181, 164, 230);
}
.all-transaction{
    width: 100%;
    height: 100%;
  
}
.credited-transaction{
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
}
.debited-transaction{
    width: 100%;
    height: 100%;
    /* background-color: pink; */
}
.displayblock{
    display: block;
}
.plus-img{
    width: 70px;
    position:  fixed;
      right: 40px;
      bottom: 60px;
}
.postmodel{
    width: 30%;
    height: 400px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10000;
}
.displaynone{
    display: none;
}
.submit-btn{
    width: 120px;
    height: 50px;
    display: block;
    background-color: lightsteelblue;
    margin: 10px auto;
}
.model-wrapper{
    position:fixed ;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);

}