.sidebar{
  width: 26%;
  height: 100vh;
  background-color:	 #faf3d1;
  border-radius: 20px;
  box-shadow:  0 0 10px 2px  #f2e18c;

}
.userimg{
    width: 120px;
  
}
.user-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
 flex-direction: column;
 margin-top: 50px;
    
}
.user-name{
    font-size: 30px;
   font-weight: bold;
   text-transform: capitalize;
   margin-top: 8px;


}
.sidebar ul{
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    margin: 30px;
}
.sidebar ul li{
    list-style: none;
    font-size: 30px;
    margin: 5px 0;
}

.links{
    text-decoration: none;
    color: black;
}
.side-btn{
    
    width: 120px;
    height: 45px;
    display: block;

    border: none;
    border-radius: 10px;
    background-color:  #f1dc74;
    box-shadow: 0 0 10px 3px 	 #edd145;
    margin: 250px auto;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    
  
    
}

.logout-img{
    width: 60px;
    display:block;
    margin: 250px auto ;
}